body {
	background-color: #fafafa;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	font-size: 100px;
	font-weight: bold;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #00c1bc;
}
@media (max-width: 770px) {
	.container {
		margin: 0 10%;
	}

	.title {
		width: 100%;
	}
}
